 body {
 font-family: var(--font-family); /* 62.5%/1.4 BlinkMacSystemFont, -apple-system, Arial, "Segoe UI", Roboto, Helvetica, sans-serif;*/
 font:62.5%/1.4;
 font-size:14px;
 -webkit-font-smoothing: antialiased;
 -webkit-tap-highlight-color: transparent;
 text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%;
 color: #221f1f;
 }

/* global */
.layout { padding-left: 8px; padding-right: 8px; max-width:1600px; margin:0 auto; }
@media (min-width: 768px) {	.layout { padding-left: 16px; padding-right: 16px; } }
@media (min-width: 1024px) { .layout { padding-left: 16px; padding-right: 16px; } }
@media (min-width: 1280px) { .layout { padding-left: 32px; padding-right: 32px; } }
.central-wrapper { padding:16px 0 64px 0; }
@media (min-width: 1024px) { .central-wrapper { padding:24px 0 128px 0; } }				
.main-sidebar { display:flex; flex-direction:row; gap:calc(var(--global-spacer)*6); }
.sidebar { border-right:1px solid #eeeeee; display:none; }
@media (min-width: 1024px) { .sidebar { display:block; } }		


/* header */ 
.header { background: var(--header-bg); padding:8px 0; }
@media (min-width: 1024px) { .header { padding:16px 0; } }
.header-layout { display:flex; flex-direction:row; align-items:center; gap:calc(var(--global-spacer)*4); }
.header__menu { }
.header__logo { }
.header__catalog { display:none; }
@media (min-width: 1024px) { .header__catalog { display:block; } }
.header__search { flex-grow:1; }
.header__lang { display:none; }
@media (min-width: 1024px) { .header__lang { display:block; } }	
.header__orders { display:none; }
@media (min-width: 1024px) { .header__orders { display:block; } }	
.header__heart { display:none; }
@media (min-width: 1024px) { .header__heart { display:block; } }	
.header__compare { display:none; }
@media (min-width: 1024px) { .header__compare { display:block; } }	
.header__cart { }
.header__search-suggest { display:flex; border-radius:calc(var(--global-spacer)*4); width:100%; }


.userinafo { display:flex; gap:calc(var(--global-spacer)*3); justify-content:row;  }
.userinafo_avatar { width:24px; height:24px; border-radius:50%; background:#444;  }
.userinafo_info { }
.userinafo_name { }
.userinafo_mail { }



.btn--header { background:none!important; color:#FFFFFF; }
.btn--header svg { fill:#FFFFFF; }


.menu-list { padding: 8px 0; }
.menu-list__item {  }
.menu-list__link { display:flex; flex-direction:row; align-items:center; padding: 8px 0; }
.menu-list__link--with-icon { padding: 4px 0; gap:calc(var(--global-spacer)*2); }
.menu-list__link--with-icon svg { fill:var(--plain-button-icon); }



.social-list { display:flex; flex-direction: row; flex-wrap:wrap; gap:calc(var(--global-spacer)*2);  }
.social-list__item {  }



/* footer-mobile */ 
.footer-mobile { background:var(--brand-color); padding:16px 0; }
@media (min-width: 768px) { .footer-mobile { padding:0;  } }
.footer-mobile-layout { display:flex; flex-direction:column; gap:calc(var(--global-spacer)*4); justify-content:center;  }
@media (min-width: 768px) { .footer-mobile-layout { flex-direction:row; align-items:center; } }
.footer-mobile__pic { display:none; }
@media (min-width: 768px) { .footer-mobile__pic { display:inline-block; } }
.footer-mobile__ttl { margin:0; color:var(--primary-text-onmedia); text-align:center; }
.footer-mobile__btn { }
.footer-mobile__btnlist { display:flex; flex-direction:row; gap:calc(var(--global-spacer)*4); justify-content:center; } 

		
		
/* footer */ 
.footer { background: var(--footer-bg); padding:16px 0; }
.footer-nav { padding: 16px 0; border-bottom: var(--common-border) 1px solid; gap:calc(var(--global-spacer)*4); }
@media (min-width: 768px) { .footer-nav { display: flex; flex-direction: row; } }
.footer-nav__item { flex-grow:1;  }
.footer-nav__item--social { flex-grow:0; padding-top:calc(var(--global-spacer)*2); }
.footer-nav__item--links { display:flex; flex-direction:column; flex-wrap:wrap; justify-content:flex-start; padding-bottom:calc(var(--global-spacer)*2); border-bottom: var(--common-border) 1px solid; }
@media (min-width: 768px) { .footer-nav__item--links { flex-direction:row; gap:calc(var(--global-spacer)*4); border:none; padding:0; } }
.footer-bottom { padding: 16px 0; }
@media (min-width: 1024px) { .footer-bottom { display: flex; flex-direction: row; } }




.card { border-bottom: var(--common-border) 1px solid; border-right: var(--common-border) 1px solid; padding:8px 8px 12px 8px }
@media (min-width: 768px) { .card { padding:12px 12px 16px 12px } }